@import 'config';
@import 'menu';

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    @include background;
    padding: 0;
    margin: 0;
    background: $primary-color;
    color: #fff;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
    line-height:1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 600;

    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color:  $secondary-color;
}

main {
    padding-left: 6rem;
    padding-top: 6rem;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.5rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.change-text:before {
    content: 'Developer';
    color: $secondary-color;
    animation: animate infinite 5s;
}

@keyframes animate {
    25%{
        content: 'Developer';
        color: $secondary-color;
    }
    50%{
        content: 'Web Developer';
        color: $secondary-color;
    }
    75%{
        content: 'Designer';
        color: $secondary-color;
    }
    100%{
        content: 'Freelancer';
        color: $secondary-color;
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }

    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

.bio-image {
    width: 250px;
    height: 250px;
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
}

//my work
.projects {
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
    'project1 project2 project3';
    grid-template-columns: repeat(3, 1fr);

    .item {
        margin-left: -6rem; //original padding
        grid-area: project2;
        padding-bottom: 20px;
    }

    img {
        width: 100%;
        border: white solid;
        
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;

        }
    }
}

//contact
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px white solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 0.3rem;
        margin-top: 5rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1rem;
            color: black;
            background: $secondary-color;

            span {
                color: black;
            }
        }
    }
}

//button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: white;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: black;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: white;
    height: 60px;
}

@import 'mobile';